*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.form-1{
    border: 1px solid black;
    width: 30%;
    display: flex;
    flex-direction: row;
    display: none;
}
.form-2 {
    border: 1px solid black;
    width: 30%;
    display: flex;
    flex-direction: row;
    display: none;
}
